# EDA

## Imports

In [7]:
import json
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

## Data

In [8]:
## Read configured settings from JSON file

with open('../../config/Shared_Settings.json', 'r') as file:
    settings = json.load(file)
    
settings

{'source': '../../data/WA_Fn-UseC_-HR-Employee-Attrition.csv',
 'feature_types': {'feature_names_categorical': ['PerformanceRating',
   'RelationshipSatisfaction',
   'EnvironmentSatisfaction',
   'WorkLifeBalance',
   'JobInvolvement',
   'StockOptionLevel',
   'JobSatisfaction',
   'JobLevel',
   'Education'],
  'feature_names_continuous': ['PerformanceRating',
   'RelationshipSatisfaction',
   'EnvironmentSatisfaction',
   'WorkLifeBalance',
   'JobInvolvement',
   'StockOptionLevel',
   'JobSatisfaction',
   'JobLevel',
   'Education'],
  'feature_names_ordinal': ['PerformanceRating',
   'RelationshipSatisfaction',
   'EnvironmentSatisfaction',
   'WorkLifeBalance',
   'JobInvolvement',
   'StockOptionLevel',
   'JobSatisfaction',
   'JobLevel',
   'Education']},
 'target_feature': ['Attrition']}

In [9]:
categorical_data = pd.read_csv(settings['source'], usecols = settings['feature_types']['feature_names_categorical'])
categorical_data

,Education,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,WorkLifeBalance
0,2,2,3,2,4,3,1,0,1
1,1,3,2,2,2,4,4,1,3
2,2,4,2,1,3,3,2,0,3
3,4,4,3,1,3,3,3,0,3
4,1,1,3,1,2,3,4,1,3
...,...,...,...,...,...,...,...,...,...
1465,2,3,4,2,4,3,3,1,3
1466,1,4,2,3,1,3,1,1,3
1467,3,2,4,2,2,4,2,1,3
1468,3,4,2,2,2,3,4,0,2
1469,3,2,4,2,3,3,1,0,4

# EDA by Feature

In [10]:
categorical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Education                 1470 non-null   int64
 1   EnvironmentSatisfaction   1470 non-null   int64
 2   JobInvolvement            1470 non-null   int64
 3   JobLevel                  1470 non-null   int64
 4   JobSatisfaction           1470 non-null   int64
 5   PerformanceRating         1470 non-null   int64
 6   RelationshipSatisfaction  1470 non-null   int64
 7   StockOptionLevel          1470 non-null   int64
 8   WorkLifeBalance           1470 non-null   int64
dtypes: int64(9)
memory usage: 103.5 KB